*{
    padding: 0px;
    margin: 0px;
}


.leftside{
    height:1366px;
    background-color: #878a8e;
}
.rightside{
    height: 1000px;
    padding: 0px;
}
.mypic{
    
    height: 397px;
    width:100%;

    
}
.maindiv1{
    height: 400px;
  
    padding: 0px;
}
.personal_left{
    padding: 0px;
    height: 269px;
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}
.personal1{
    border-bottom: 1px solid #fff;
    
     width: 100%;
}
.personal{
    border-bottom: 1px solid #fff;
    width: 100%;
   
}
.left{
   
    
    display: inline;
    margin-left: 10px;
    
}
.right{
 
    
    margin-left: 100px;
    display: inline;
}
.links_button{
    height: 40px;
    width: 40%;
    margin-left: 25px;
    margin-top: 10px;
    border: 0px;
}
.profile{
    border-bottom: 1px solid gray;
    margin-top: 10px;
    
    margin-left: 15px;
    padding-left: 0px;

}
.paragraph{
    margin-top: 25px;
    font-size: 16px;
    font-family: sans-serif;
}
.bigr1{
    position: relative; 
}
.bigr2{
       position: relative; 
top: 20px;
    

}
.bigr3{
    position: relative; 
    top: 40px;
     margin-left: 0px;

}
.bigr4{
    position: relative; 
    top: 60px;
     margin-left: 0px;

}
.round1{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: green;
    position: relative; 
    transition: .5s;
    color: #fff;
}
.round2{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: green;
    position: relative; 
    transition: .5s;
    color: #fff;
}
.round3{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: green;
    position: relative; 
    transition: .5s;
    color: #fff;
}
.round4{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: green;
    position: relative; 
    transition: .5s;
    color: #fff;
}


.para1{
    
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    
    font-size: 16px;

    padding-top: 62px;
  
}

.round1:hover{
    border-radius: 0px;
    transform: rotate(360deg);
    border: 1px solid #000;
}
.para2{
    
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
   
    font-size: 16px;

    padding-top: 40px;
  
}
.para3{
    
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
   
    font-size: 16px;

    padding-top: 40px;
  
}
.para4{
    
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
   
    font-size: 16px;

    padding-top: 20px;
  
}
.round1:hover{
    border-radius: 0px;
    transform: rotate(360deg);
    border: 1px solid #000;
 background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 3%, rgba(0,128,0,1) 3%);
}
.round2:hover{
    border-radius: 0px;
    transform: rotate(360deg);
    border: 1px solid #000;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 74%, rgba(0,128,0,1) 74%);
    color: #000;
    
}
.round3:hover{
    border-radius: 0px;
    transform: rotate(360deg);
    border: 1px solid #000;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 37%, rgba(0,128,0,1) 37%);
    
    color: #000;
}
.round4:hover{
    border-radius: 0px;
    transform: rotate(360deg);
    border: 1px solid #000;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 74%, rgba(0,128,0,1) 74%);
    
    color: #000;
}
.work{
    margin-top: 20px;
}
.faw{
    font-size: 25px;
    color: darkcyan;
}
.fstwork{
    margin-top: 20px;
}
table{
    border-style:none;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    height: 190px;
}
.tcolor{
    background-color:beige;
}
.mark{
    height: 30px; 
    width: 80%;
    background-color: red;
    border: 1px solid #000;
    margin-top: 10px;background: rgb(251,251,252);
background: linear-gradient(270deg, rgba(251,251,252,1) 38%, rgba(3,12,246,1) 38%);
}
.mark1{height: 30px; 
    width: 80%;
    background-color: red;
    border: 1px solid #000;
    margin-top: 10px;
    background: rgb(251,251,252);
background: linear-gradient(270deg, rgba(251,251,252,1) 63%, rgba(3,12,246,1) 63%);
}
.mark2{height: 30px; 
    width: 80%;
    background-color: red;
    border: 1px solid #000;
    margin-top: 10px;
    background: rgb(251,251,252);
    background: linear-gradient(270deg, rgba(251,251,252,1) 3%, rgba(3,12,246,1) 3%);}
.mark3{height: 30px; 
    width: 80%;
    background-color: red;
    border: 1px solid #000;
    margin-top: 10px;
    background: rgb(251,251,252);
background: linear-gradient(270deg, rgba(251,251,252,1) 52%, rgba(3,12,246,1) 52%);
}
.fffff{
    margin-left: 95px;
    font-size: 60px;
    margin-bottom: 20px;
}
.ffff4{
    margin-left:0px;
}
.ppp{
    margin-top: 40px;
    color: gainsboro;
}
